<div class="content">
	<div class="content-header">
		<h3>确认支付信息</h3>
	</div>

	<div class="content-wrapper">
		<template v-for="item in viewInfo">
			<h4>产品信息:</h4>
			<ul>
				<li>
					<label>产品名称：</label><span>{{item.body}}</span>
				</li>
				<li>
					<label>服务周期：</label><span>{{item.signDuration}}</span>
				</li>
				<li>
					<label>支付金额：</label><span>{{item.totalFee}}</span>
				</li>
			</ul>
			<h4>个人信息</h4>
			<ul>
				<li>
					<label>真实姓名：</label><span>{{item.userName}}</span>
				</li>
				<li>
					<label>手机号码：</label><span>{{item.userMobie}}</span>
				</li>
				<li>
					<label>身份证号：</label><span>{{item.userIdCard}}</span>
				</li>
			</ul>
		</template>
		<h4>支付方式</h4>
		<ul>
			<li>
				<i class="wx-pay"></i>
			</li>
		</ul>
		<div class="pay-tips">注：点击“确认信息并支付”后将跳转至微信支付页面，请您在15分钟内完成支付。若未能在有效时长内完成支付，需重新返回本页面进行信息确认并支付。</div>
	</div>
	<div class="footer-btn">
		<button class="pay-btn" id="chooseWXPay" @click="payTo()">确认信息并支付</button>
	</div>
</div>
