<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest10.spring.boot.family.repository.BookDao">
  <insert id="insertBook">
    insert into
    book
    (isbn,reader)
    values (
    #{isbn},
    #{reader}
    )

  </insert>

  <select id="selectAll" resultType="com.forest10.spring.boot.family.entity.Book">
    SELECT *
    FROM book
  </select>

</mapper>